@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 2.5rem;
    padding-top: 3rem;
    background-color: #f8f8f8;

    height: 100vh;
}

.container {
    color: #175cff;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    font-weight: bold;
    color: #333;
}

.time {
    display: flex;
    max-width: 100px;
    margin-right: 15px;
    color: #172953;
}

.separator {
    padding: 0 10px;
    color: #525763;
}

#milliSeconds {
    font-size: 33px;
    color: #525763;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

#startBtn {
    background-color: #175cff;
    color: white;
}

#pauseBtn,
#resumeBtn {
    display: none;
}